.nav-right > a:nth-child(4) {
    background: rgba(255, 255, 255, 0.15);
}


/* placeholder */
.placeholder {
    height: 60px;
}

/* CONTACT */
.header {
    align-items: unset;
    padding-bottom: 20px;
}
.header > p {
    margin-top: 10px;
    max-width: 650px;
}
.contact {
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
}
/* CONTACT LEFT */
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.name-inputs {
    display: flex;
    gap: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-container > p {
    font-size: 1rem;
    color: rgb(117,117,117);
}
input {
    font-size: 1.5rem;
    padding: 10px 0 15px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(117,117,117);
    background-color: unset;
    color: var(--white);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: var(--white) !important;
}
/* CONTACT RIGHT */
.contact-right {
    padding: 25px;
    background-color: var(--gray);
    border-radius: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.contact-right > h1 {
    font-size: 2.5rem;
}
.contact-right > p {
    margin-top: 10px;
}
.personal-info-container {
    margin: auto 0;
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.personal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.personal-info > img {
    height: 30px;
}
.contact-right-socials {
    margin-top: auto;
    display: flex;
    gap: 20px;
}
.contact-right-socials > a > img {
    width: 1.5rem;
    opacity: 0.4;
    transition: .2s;
}
.contact-right-socials > a > img:hover {
    opacity: 1;
}