.nav-right > a:first-child {
    background: rgba(255, 255, 255, 0.15);
} 
/* HERO */
.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 70px 0 70px 25px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-socials { 
    width: calc(3*35px);
    display: flex;
    justify-content: space-between;
    animation: hero-fade 1.25s 2.5s forwards;
    opacity: 0;
    margin-bottom: 10px;
}
.hero-socials img {
    width: 1.5rem;
    opacity: 0.4;
    transition: .2s;
}
.hero-socials img:hover {
    opacity: 1;
}
.hero-text > h1{
    font-size: 4.5rem;
    overflow: hidden;
    width: fit-content;
}
.hero-text > h1 > span{
    color: var(--white);
    display: inline-block;
    transform: translateY(100%);
    transition: transform .8s cubic-bezier(0,.91,.22,.94);
}
.hero-text > p {
    font-size: 1.5rem;
    margin: 10px 0;
    opacity: 0;
    animation: hero-fade 1.25s 2.6s forwards;
}
@keyframes hero-fade {
    100% {
        opacity: 1;
        transform: unset;
    }
}
.hero-cta {
    display: flex;
    gap: 25px;
}
.hero-cta > a {
    opacity: 0;
    animation: hero-fade 1.25s 2.8s forwards;
}
.hero-image {
    position: relative;
}
.hero-image > div {
    border-radius: 50%;
    background-color: var(--signatureGreen);
    filter: brightness(60%);
    height: 450px;
    width: 450px;
    position: absolute;
    inset: -9999px;
    margin: auto;
    transform: perspective(500px) translate3d(500px, -50px, 50px);
    animation: hero-fade 1.75s 2.5s forwards;
    opacity: 0;
    z-index: -1;
} 
@keyframes hero-bg-fade {
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: perspective(500px) translate3d(0, -50px, 50px)
    }
}
.hero-image > img {
    filter: brightness(80%) saturate(0);
    width: 450px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    border-radius: 0 0 225px 225px;
    transform: perspective(250px) translate3d(0, -50px, 50px);
    animation: hero-image-fade 2s 4s forwards;
    opacity: 0;
}
@keyframes hero-image-fade {
    85% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: perspective(500px) translate3d(0, -50px, 50px)
    }
}
/* STATISTICS */
.statistics {
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
}
.statistics::before, .statistics::after {
    background: linear-gradient(to right,  var(--black) 0%,rgba(255,255,255,0) 100%);
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.statistics::after {
    transform: rotate(180deg);
    top: 0;
    right: 0;
}
.statistics::before {
    top: 0;
    left: 0;
}
.statistics > div {
    width: calc(250px * 14);
    display: flex;
    animation: statistics-scroll 50s linear infinite;
}
@keyframes statistics-scroll {
    0% { transform: translateX(0) }
    100% { transform: translateX(calc(-250px * 7)) }
}
.stat {
    width: 300px;
    display: flex;
}
.stat > img{
    margin: auto;
    height: 70px;
    filter: grayscale(100%);
    transition: 0.4s;
}
.stat > img:hover {
    transform: perspective(500px) translateZ(100px);
    filter: grayscale(20%);
    transition: 0.3s ease;
}
/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.project {
    background-color: rgba(90, 169, 255, 0.167);
    display: flex;
    border-radius: 25px;
    padding: 50px;
    align-items: center;
    gap: 50px;
}
.project-info > h1 {
    margin-top: -20px;
}
.project-info > p {
    margin: 1.25rem 0;
    color: var(--grayTextOnDarkBg);
}
.project > img {
    height: 350px;
}


/* ABOUT ME */
.about {
}
.about > img {
    width: 100%;
    border-radius: 15px;
    margin: 25px 0;
}
/* STORY */
.story {
    padding: 50px 25px 100px 25px;
    position: relative;
}
.story::before {
    content: '';
    position: absolute;
    background-color: var(--white);
    height: 2px;
    width: 0;
    right: 25px;
    top: 160px;
    left: 0;
    transition: 2s cubic-bezier(.65,.01,.05,.89);
}
.story.in-view::before {
    width: 100%;
}
.story::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    height: var(--storyVertical);
    max-height: var(--storyVerticalMax);
    width: 2px;
    top: 160px;
    left: 254px;
    box-shadow: 0 0 20px 1px white;
}
.story-segment {
    display: flex;
    margin: 150px 0 50px 75px;
}
.story-segment-left {
    display: flex;
}
.story-segment-left > h1 {
    width: 90px;
    font-size: 2rem;
    transform: translate(-50px, 4px);
    opacity: 0;
    transition: 0.5s;
}
.story-segment-left > div {
    transform: translateY(14px);
    border-radius: 50%;
    margin: 0 55px;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    transition: .5s;
}
.story-segment > p {
    line-height: 200%;
    margin: auto 0;
    opacity: 0;
    transform: translate(100px);
    transition: .5s;
}
/* ACTIVATED NODE */
.story-segment.activated > div > div {
    box-shadow: 0 0 20px 5px white;
    transition: .2s;
}
.story-segment.activated h1 {
    transform: translateY(4px);
    opacity: 1;
}
.story-segment.activated p {
    transform: unset;
    opacity: 1;
}
